@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,100&family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap');

*{
  padding: 0;
  margin: 0;
}
.container{
  width: 90%;
  margin: 0 auto;
}
a{
  text-decoration: none;
}
 body{
   font-family: 'Open Sans',sans-serif ;
 }



 @mixin btn {
   padding: 10px 30px;
   color: white;
   background: #3A68B8;
   border: none;
 }

  @mixin btn1 {
  padding: 10px 30px;
  color: white;
  background: #3A68B8;
  border: none;
  font-weight: 600;
  font-size: 20px;
}

 @mixin btn2 {
  padding: 10px 30px;
  color: white;
  background: #3A68B8;
  border: none;
   font-weight: 600;
   font-size: 16px;
}